:root {
  --main-bg-color: darkgrey;
  --dark-bg-color: grey;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--main-bg-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  /*
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(252,176,69,1) 100%);
  
  background: linear-gradient(90deg, rgb(255, 24, 113) 0%, rgb(255, 177, 32) 100%);
  */
  background-image: url("https://images.unsplash.com/photo-1554042317-efd62f19bc95?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHNjaG9vbHxlbnwwfHwwfHw%3D&auto=format");
  /*
  background-image: url("https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80");
  */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

nav {
  width: 100%;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.01),
    white
  );
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  justify-content: space-around;
  font-weight: 600;
  z-index: 5;
}
.logo {
  margin-left: 40px;
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
  padding-left: 40px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-right: 17px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 35px;
  transition: all 0.2s ease-in;
  background-image: linear-gradient(50deg, rgb(6, 61, 241), rgb(0, 195, 255));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
nav ul {
  padding: 7px;
  display: flex;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
  list-style-type: none;
  padding: 0px 20px;
}

nav ul li a {
  position: relative;
  display: block;
  font-size: 20px;
  padding-bottom: 5px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  transition: all 0.1s ease-in;
}

nav ul li a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  color: white;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(90deg, rgb(6, 61, 241), rgb(0, 195, 255));
  transition: 0.1s ease-in-out;
}

nav ul li :hover {
  color: black;
}

nav ul li a:hover:after {
  width: 100%;
  color: black;
}

/*---------------------nav /\-------------body \/--------------------*/

#login-box {
  max-width: 350px;
  position: absolute;
  word-wrap: ;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);

  background-color: rgba(255, 255, 255, 1);
  border: 4px solid rgba(255, 255, 255, 1);
  border-radius: 20px;
  padding: 15px;
  box-shadow: 5px 10px 15px 2px rgb(0, 0, 0);
}

h2 {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 45px;
  color: black;
  font-size: 30px;
  font-weight: 600;
  border-bottom: 1px solid silver;
}

#login-box #username-box {
  text-align: center;
  padding: 1px 30px;
  box-sizing: border-box;
}

#username {
  text-align: center;
  padding: 9px 30px;
  border: 2px solid rgb(62, 131, 235);
  margin: 5px 5px 10px 5px;
  border-radius: 30px;
  font-size: 18px;
  letter-spacing: 1px;
}

#pass-box {
  text-align: center;
  padding: 5px 30px;
  box-sizing: border-box;
}
#password {
  text-align: center;
  padding: 9px 30px;
  border: 2px solid rgb(62, 131, 235);
  margin: 5px 5px 10px 5px;
  border-radius: 30px;
  font-size: 18px;
  letter-spacing: 1px;

  transition: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#forgot {
  text-align: center;
  padding: 1px 1px 40px 0px;
  box-sizing: border-box;
  color: grey;
}
#forgot a {
  color: #2691d9;
  font-size: 19px;
  text-decoration: none;
}
.submit {
  margin-top: 20px;
  position: relative;
  padding: 15px 55px;
  width: auto;
  border: 1px solid;
  border-radius: 40px;
  font-size: 20px;
  color: white;
  background-color: rgb(42, 137, 250);
  cursor: pointer;
  transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  top: 50%;
  left: 50%;

  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.submit :hover {
  
  background-color: rgb(02, 00, 150);
  background-color: rgb(42, 30, 250);
}
#signup {
  text-align: center;
  margin-top: 9px;
  box-sizing: border-box;
}

#signup a {
  color: #2691d9;
  font-size: 19px;
  text-decoration: none;
}

#signup a:hover {
  text-decoration: underline;
}
#foot {
  width: 100%;
  height: 6em;
  background-color: black;
  position: fixed;
  bottom: 0;
  list-style-type: none;
  text-align: center;
}
#foot .foot-ul {
  padding: 10px 0px;
}

#foot .foot-ul .foot-ul-li {
  display: inline;
  padding: 0 2rem;
}

#foot .foot-ul .foot-ul-li a {
  color: grey;
  font-size: 15px;
  text-decoration: none;
}

#foot .foot-ul .foot-ul-li a:nth-child(3) {
  color: grey;
  font-size: 15px;
  text-decoration: none;
  text-align: right;
}
#foot .foot-ul-li a:hover {
  text-decoration: underline;
  color: white;
}

#foot .foot-ul:nth-child(3) {
  padding: 10px 0px;
}

@media (max-width: 952px) {
  .logo {
    font-size: 30px;
    padding-left: 7px;
  }

  nav ul li a {
    font-size: 16px;
  }
}
